@import "reset";
@import "themes/light";
@import "variables/global";
@import "themes/dark";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,button,textarea,select {
    margin: 0;
   
}

.app {
    font: var(--font-m);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--bg-color);  
}
    